* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 0.3s ease-in-out;
    color: black;
    text-decoration: none;
}

.header {
    background: black;
}

.btn {
    padding: 10px 20px;
    background-color: rgb(255, 255, 255);
    color: black;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.btn:hover {
    background-color: rgb(255, 128, 128);
    color: white;
    text-decoration: underline;
    box-shadow: 0 2px 5px rgba(255, 128, 128, 0.7);
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

li {
    align-items: center;
    list-style: none;
    padding: 10px;
    border-radius: 5px;
}

.asite {
    float: left;
}

.item {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
    margin: 10px;
}

p {
    margin: 5px 0 0 0;

}

.item {
    margin: 15px 15%
}
.item:hover {
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.item img {
    width: 100%;
    height: auto;
    max-width: 250px;
    border-radius: 5px;
    margin: 0 0 0 70%;
}

nav {
    padding: 7px;
}